In [1]:
import jaqs
from jaqs.data import DataApi

api = DataApi(addr="tcp://data.quantos.org:8910")

api.login("15010492066", "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MTMwNTA0ODY3MTQiLCJpc3MiOiJhdXRoMCIsImlkIjoiMTUwMTA0OTIwNjYifQ.s_530n20Aelg7-8-1IorTgoa_yp6goImz20hhGIzMGU")

('username: 15010492066', '0,')

In [2]:
# 获取交易日历
df, msg = api.query(
                view="jz.secTradeCal", 
                fields="trade_date,istradeday, isweekday, isweekend, isholiday", 
                filter="start_date=20180101&end_date=20180301", 
                data_format='pandas')

In [3]:
df

   isholiday istradeday isweekday isweekend trade_date
0          F          T         T         F   20180102
1          F          T         T         F   20180103
2          F          T         T         F   20180104
3          F          T         T         F   20180105
4          F          T         T         F   20180108
5          F          T         T         F   20180109
6          F          T         T         F   20180110
7          F          T         T         F   20180111
8          F          T         T         F   20180112
9          F          T         T         F   20180115
10         F          T         T         F   20180116
11         F          T         T         F   20180117
12         F          T         T         F   20180118
13         F          T         T         F   20180119
14         F          T         T         F   20180122
15         F          T         T         F   20180123
16         F          T         T         F   20180124
17         F          T         T         F   20180125
18         F          T         T         F   20180126
19         F          T         T         F   20180129
20         F          T         T         F   20180130
21         F          T         T         F   20180131
22         F          T         T         F   20180201
23         F          T         T         F   20180202
24         F          T         T         F   20180205
25         F          T         T         F   20180206
26         F          T         T         F   20180207
27         F          T         T         F   20180208
28         F          T         T         F   20180209
29         F          T         T         F   20180212
30         F          T         T         F   20180213
31         F          T         T         F   20180214
32         F          T         T         F   20180222
33         F          T         T         F   20180223
34         F          T         T         F   20180226
35         F          T         T         F   20180227
36         F          T         T         F   20180228
37         F          T         T         F   20180301

In [4]:
# 证券基础信息
df, msg = api.query(
                view="jz.instrumentInfo", 
                fields="", 
                filter="", 
                data_format='pandas')

In [5]:
df

      list_date       name        symbol
0             0      沪深300     399300.SZ
1             0       深证综指     399106.SZ
2             0     深证100R     399004.SZ
3             0       国企改革     399974.SZ
4             0       深证成指     399001.SZ
5             0       中证军工     399967.SZ
6             0       创业板指     399006.SZ
7             0       深成指R     399002.SZ
8             0       成份Ｂ指     399003.SZ
9             0       中小板指     399005.SZ
10            0      深证300     399007.SZ
11            0      中小300     399008.SZ
12            0      深证200     399009.SZ
13            0      深证700     399010.SZ
14            0     深证1000     399011.SZ
15            0      创业300     399012.SZ
16            0       深市精选     399013.SZ
17            0       中小创新     399015.SZ
18            0      新 指 数     399100.SZ
19            0       中小板综     399101.SZ
20            0       创业板综     399102.SZ
21            0       乐富指数     399103.SZ
22            0       深证Ａ指     399107.SZ
23            0       深证Ｂ指     399108.SZ
24            0       农林指数     399231.SZ
25            0       采矿指数     399232.SZ
26            0       制造指数     399233.SZ
27            0       水电指数     399234.SZ
28            0       建筑指数     399235.SZ
29            0       批零指数     399236.SZ
...         ...        ...           ...
26155         0   铁矿石掉期6个月     i134.SPOT
26156         0   铁矿石掉期7个月     i135.SPOT
26157         0   铁矿石掉期8个月     i136.SPOT
26158         0   铁矿石掉期9个月     i137.SPOT
26159         0  铁矿石掉期10个月     i138.SPOT
26160         0  铁矿石掉期11个月     i139.SPOT
26161         0  铁矿石掉期12个月     i140.SPOT
26162         0  铁矿石掉期13个月     i141.SPOT
26163         0  铁矿石掉期14个月     i142.SPOT
26164         0     USDCNY     USDCNY.FX
26165         0     HKDCNY     HKDCNY.FX
26166         0  HKDCNYSET  HKDCNYSET.FX
26167         0  HKDCNYFIX  HKDCNYFIX.FX
26168         0         原油        sc.INE
26169  20180326     原油1809    sc1809.INE
26170  20180326     原油1810    sc1810.INE
26171  20180326     原油1811    sc1811.INE
26172  20180326     原油1812    sc1812.INE
26173  20180326     原油1901    sc1901.INE
26174  20180326     原油1902    sc1902.INE
26175  20180326     原油1903    sc1903.INE
26176  20180326     原油1906    sc1906.INE
26177  20180326     原油1909    sc1909.INE
26178  20180326     原油1912    sc1912.INE
26179  20180326     原油2003    sc2003.INE
26180  20180326     原油2006    sc2006.INE
26181  20180326     原油2009    sc2009.INE
26182  20180326     原油2012    sc2012.INE
26183  20180326     原油2103    sc2103.INE
26184  20180402     sc1904    sc1904.INE

[26185 rows x 3 columns]

In [6]:
# 证券基础信息 指定查询的证券
df, msg = api.query(
                view="jz.instrumentInfo", 
                fields="", 
                filter="symbol=300033.SZ", 
                data_format='pandas')

In [7]:
df

  list_date name     symbol
0  20091225  同花顺  300033.SZ

In [8]:
# 指数成分股
df, msg = api.query(
                view="lb.indexCons", 
                fields="", 
                filter="index_code=399300.SZ&start_date=20150101&end_date=20150102", 
                data_format='pandas')

In [9]:
df

      in_date index_code  out_date     symbol
0    20050408  399300.SZ            000001.SZ
1    20050408  399300.SZ            000002.SZ
2    20050408  399300.SZ  20171208  000009.SZ
3    20050408  399300.SZ  20151229  000024.SZ
4    20140616  399300.SZ  20170609  000027.SZ
5    20050408  399300.SZ  20170609  000039.SZ
6    20050408  399300.SZ            000060.SZ
7    20050408  399300.SZ  20170609  000061.SZ
8    20050408  399300.SZ            000063.SZ
9    20050408  399300.SZ            000069.SZ
10   20090105  399300.SZ            000100.SZ
11   20130701  399300.SZ  20171208  000156.SZ
12   20050408  399300.SZ            000157.SZ
13   20131216  399300.SZ  20160608  000400.SZ
14   20050408  399300.SZ  20150612  000401.SZ
15   20050408  399300.SZ            000402.SZ
16   20140616  399300.SZ            000413.SZ
17   20080102  399300.SZ            000423.SZ
18   20050408  399300.SZ            000425.SZ
19   20140616  399300.SZ            000503.SZ
20   20131216  399300.SZ  20150612  000536.SZ
21   20050701  399300.SZ            000538.SZ
22   20141215  399300.SZ            000559.SZ
23   20060703  399300.SZ  20150123  000562.SZ
24   20050408  399300.SZ            000568.SZ
25   20120104  399300.SZ  20160608  000581.SZ
26   20131216  399300.SZ  20160608  000598.SZ
27   20090105  399300.SZ            000623.SZ
28   20050408  399300.SZ            000625.SZ
29   20120104  399300.SZ  20160608  000629.SZ
..        ...        ...       ...        ...
270  20110701  399300.SZ  20161209  601098.SH
271  20110104  399300.SZ            601818.SH
272  20110701  399300.SZ            002500.SZ
273  20140616  399300.SZ  20161209  600998.SH
274  20141215  399300.SZ  20170609  300146.SZ
275  20110701  399300.SZ            601933.SH
276  20120702  399300.SZ  20151211  002570.SZ
277  20140616  399300.SZ            601216.SH
278  20120104  399300.SZ  20170609  601258.SH
279  20120104  399300.SZ  20161209  601992.SH
280  20120104  399300.SZ            002594.SZ
281  20120702  399300.SZ            601901.SH
282  20120104  399300.SZ  20150612  002603.SZ
283  20141215  399300.SZ            300251.SZ
284  20120702  399300.SZ            601669.SH
285  20140616  399300.SZ            601225.SH
286  20120702  399300.SZ            601555.SH
287  20130104  399300.SZ            601800.SH
288  20120702  399300.SZ  20170609  601928.SH
289  20130104  399300.SZ            002673.SZ
290  20120702  399300.SZ            601336.SH
291  20140616  399300.SZ  20151211  601929.SH
292  20131216  399300.SZ  20151211  002653.SZ
293  20131216  399300.SZ  20160608  601231.SH
294  20131216  399300.SZ  20170609  603000.SH
295  20130701  399300.SZ            603993.SH
296  20141215  399300.SZ  20160608  603288.SH
297  20140616  399300.SZ  20150612  603699.SH
298  20130918  399300.SZ            000333.SZ
299  20140616  399300.SZ            600023.SH

[300 rows x 4 columns]

In [10]:
df, msg = api.query(
                view="lb.income", 
                fields="", 
                filter="", 
                data_format='pandas')

In [11]:
msg

'0,'

In [21]:
df_data, msg = api.query(
    view = 'lb.secDailyIndicator', 
    filter="start_date=20180404&end_date=20180404&symbol=600519.SH",
    fields='total_mv,float_mv,pe_ttm,pb,trade_date'
)

In [22]:
df_data

       float_mv      pb   pe_ttm     symbol      total_mv trade_date
0  8.718138e+07  9.5331  32.1948  600519.SH  8.718138e+07   20180404